html, body {
  margin: 8px 0px 0px 0px;
  padding: 0;
  background-color: #ffefd6;
}

.container {
  background-color: #eeeeee;
  width: 1024px;
  max-width: 1024px;
  margin: 0px auto;
}

.content-posts {
  margin: 8px;
  padding: 8px;
  background-color: #fafade;
}

.navbar {
  padding: 6px;
  color: #ffffff;
  background-color: #1f1f1f;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
}

.navbar a:hover {
  color: #7d88ff;
}

.post-image {
  max-width: 200px;
  height: auto;
  margin-right: 16px;
  float: left;
}

.post-image img {
  width: 100%;
}

.clear-float {
  clear: left;
}

.content {
  display: block;
}


.footer {
  font-size: 24px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 48px;
  min-height: 32px;
  text-align: center;
  background-color: #313131;
}

.footer a {
  color: #e97c00;
  text-decoration: none;
  text-align: center;
}